# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for commiting if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
node_modules


# Data Files
*.parquet
*.map
*.zip
*.gz
*.tar
*.tgz
*.vsix

# Videos
*.mov
*.mp4
*.avi

# Images
*.icns
*.ico
*.jpeg
*.jpg
# *.png
*.bmp

# -- Nodejs
node_modules/
!.mocharc.yaml
report.*.json

# -- Python
__pycache__/


# -- others
_*
# '_' in src dir, ok.
!src/**/_*
